.main .bg-image {
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main .content {
  filter: blur(0px);
  -webkit-filter: blur(0px);
}

.main .login-component {
  margin: 0px;
  padding: 0px;
}

.main .login-component .sign-in-form {
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 2px 1px 30px 14px orange;
          box-shadow: 2px 1px 30px 14px orange;
}

.main .login-component .sign-in-form h3 {
  font-family: NotoSerifTelugu-Regular;
  text-shadow: 2px 2px 4px gray;
}

.main .login-component .sign-in-form .icon {
  height: 100%;
}

.main .login-component .sign-in-form .form-control {
  border: 0px solid white;
}

.main .login-component .sign-in-form .form-control:focus {
  background: white;
  border-top: 0px solid white;
}

.main .login-component .sign-in-form .submit-section .button-submit {
  border-radius: 20px;
  background: #fa9200;
  -webkit-box-shadow: 15px 15px 30px 0.3px gray, inset -4px -5px 13px #b96c00, inset 10px 10px 13px #ffb800;
          box-shadow: 15px 15px 30px 0.3px gray, inset -4px -5px 13px #b96c00, inset 10px 10px 13px #ffb800;
  border: 0px;
  color: #fff;
}

.main .login-component .sign-in-form .submit-section .button-submit:hover {
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
  background-color: #f7b202;
  color: #ffe4e4;
  -webkit-box-shadow: 15px 15px 30px 0.3px gray, inset -4px -5px 13px #ff9500, inset 10px 10px 13px #f7b202;
          box-shadow: 15px 15px 30px 0.3px gray, inset -4px -5px 13px #ff9500, inset 10px 10px 13px #f7b202;
}

.main .login-component .sign-in-form .submit-section .dotted {
  border: 3px dotted orangered;
  border-style: none none dotted;
  color: #fff;
  background-color: #fff;
}

.main .login-component .sign-in-form .additional .sign-up {
  color: #ff8400;
}

.main .login-component .sign-in-form .additional .sign-up:hover {
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
  cursor: pointer;
  color: #f89f40;
}
